 body {
    padding-top: 1.5rem;
    padding-bottom: 2.25rem;
    color: #141B1E;
}

@media (min-width: 84em) {
    body {
        padding-top: 1.875rem;
        padding-bottom: 3.75rem;
    }
}

body > .grid-block + .grid-block {
    margin-top: 72px;
}

.toggle-block {
    opacity: 1;
    visibility: visible;
    min-height: 2.25rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    color: #444444;
}

.toggle-block.active {
    margin-bottom: 2.25rem;
}

.toggle-block::before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 15px;
    width: 3px;
    left: 0;
    background-color: transparent;
    transition:
        background-color 0.8s linear,
        bottom 0.6s linear;
}

.toggle-block.active::before {
    content: '';
    bottom: 5px;
    background-color: #c4cfd2;
}

.toggle-block > .block {
    margin-bottom: 0.75rem;
}

.toggle-block + .toggle-block {
    margin-top: 0;
}

.text-8,  body { font-size: 0.9375rem; line-height: 1.5rem; font-weight: 300; }
.text-10, code {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.0625rem;
}

a.block {
    position: relative;
    text-decoration: none;
}

a.block:hover {
    border-bottom: 1px solid #999999;
}

.js.block {
    font-size: 0.75rem;
    margin-left: -0.8125rem;
    padding-left: 0.8125rem;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 0.75rem;
    width: calc(100% + 0.75rem + 0.9375rem);
    color: white;
    background-color: #141B1E;
    border-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 18px;
    overflow: auto;
    box-shadow: inset -18px 4px 110px -20px rgba(0,0,0,0.1);
}

.js.block + p {
    margin-top: 1.125rem;
}

code {
    font-size: 14px;
    font-weight: 400;
    color:#5e686d;
    background-color: #e9eaea;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: -1px;
    margin-right: -2px;
    padding-bottom: 2px;
    padding-top: 0px;
    border-radius: 4px;
    word-spacing: -0.125em;
    letter-spacing: -0.0125em;
}

.text-5 {
    font-size:   1rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.333s linear;
}

a:focus {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #ababab;
    transition-duration: 0.120s;
}

.keyboard a:focus {
    border-bottom: 1px solid #999999;
}

.text-5 code {
    font-size: inherit;
    font-weight: 400;
    color: #444;
    background-color: transparent;
    padding: 0;
    margin: 0;
    word-spacing: -0.25em;
    letter-spacing: -0.0125em;
}

h5, .text-5 {
    margin-bottom: 0.75rem;
}

.spaced-grid-block > .block {
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
}

pre {
    white-space: pre;
}
