@charset "UTF-8";
/*
DO NOT MANUALLY EDIT THIS FILE!

This file is generated via SASS. To generate it, run `npm run sass`.
*/
.hidden { display: none !important; }

/* Removed because we have projects that override .block - it sort of has two meanings, now, in Bolt – base class and modifier – which is a bad idea. */
/*().block          { display: block !important; }*/
.grid { display: grid !important; }

.grid-2 { grid-template-columns: repeat(2, 1fr); }

.grid-3 { grid-template-columns: repeat(3, 1fr); }

.grid-4 { grid-template-columns: repeat(4, 1fr); }

.grid-5 { grid-template-columns: repeat(5, 1fr); }

.grid-6 { grid-template-columns: repeat(6, 1fr); }

.grid-7 { grid-template-columns: repeat(7, 1fr); }

.grid-8 { grid-template-columns: repeat(8, 1fr); }

.grid-9 { grid-template-columns: repeat(9, 1fr); }

.grid-10 { grid-template-columns: repeat(10, 1fr); }

.grid-11 { grid-template-columns: repeat(11, 1fr); }

.grid-12 { grid-template-columns: repeat(12, 1fr); }

.inline { display: inline-block !important; }

.left { float: left !important; clear: left; }

.right { float: right !important; clear: right; }

.top-align { vertical-align: top !important; }

.bottom-align { vertical-align: bottom !important; }

.middle-align { vertical-align: middle !important; }

.baseline-align { vertical-align: baseline !important; }

.left-align { text-align: left !important; }

.right-align { text-align: right !important; }

.center-align { text-align: center !important; }

.justify-align { text-align: justify !important; }

.x-1 { grid-column-start: 1 !important; }

.x-2 { grid-column-start: 2 !important; }

.x-3 { grid-column-start: 3 !important; }

.x-4 { grid-column-start: 4 !important; }

.x-5 { grid-column-start: 5 !important; }

.x-6 { grid-column-start: 6 !important; }

.x-7 { grid-column-start: 7 !important; }

.x-8 { grid-column-start: 8 !important; }

.x-9 { grid-column-start: 9 !important; }

.x-10 { grid-column-start: 10 !important; }

.x-11 { grid-column-start: 11 !important; }

.x-12 { grid-column-start: 12 !important; }

.x-span-1 { grid-column-end: span 1 !important; }

.x-span-2 { grid-column-end: span 2 !important; }

.x-span-3 { grid-column-end: span 3 !important; }

.x-span-4 { grid-column-end: span 4 !important; }

.x-span-5 { grid-column-end: span 5 !important; }

.x-span-6 { grid-column-end: span 6 !important; }

.x-span-7 { grid-column-end: span 7 !important; }

.x-span-8 { grid-column-end: span 8 !important; }

.x-span-9 { grid-column-end: span 9 !important; }

.x-span-10 { grid-column-end: span 10 !important; }

.x-span-11 { grid-column-end: span 11 !important; }

.x-span-12 { grid-column-end: span 12 !important; }

.x-span--1 { grid-column-end: span -1 !important; }

.x-end { justify-self: end !important; }

.x-start { justify-self: start !important; }

.x-center { justify-self: center !important; }

.x-stretch { justify-self: stretch !important; }

.y-1 { grid-row-start: 1 !important; }

.y-2 { grid-row-start: 2 !important; }

.y-3 { grid-row-start: 3 !important; }

.y-4 { grid-row-start: 4 !important; }

.y-5 { grid-row-start: 5 !important; }

.y-6 { grid-row-start: 6 !important; }

.y-7 { grid-row-start: 7 !important; }

.y-8 { grid-row-start: 8 !important; }

.y-9 { grid-row-start: 9 !important; }

.y-10 { grid-row-start: 10 !important; }

.y-11 { grid-row-start: 11 !important; }

.y-12 { grid-row-start: 12 !important; }

.y-13 { grid-row-start: 13 !important; }

.y-14 { grid-row-start: 14 !important; }

.y-15 { grid-row-start: 15 !important; }

.y-16 { grid-row-start: 16 !important; }

.y-17 { grid-row-start: 17 !important; }

.y-18 { grid-row-start: 18 !important; }

.y-span-1 { grid-row-end: span 1 !important; }

.y-span-2 { grid-row-end: span 2 !important; }

.y-span-3 { grid-row-end: span 3 !important; }

.y-span-4 { grid-row-end: span 4 !important; }

.y-span-5 { grid-row-end: span 5 !important; }

.y-span-6 { grid-row-end: span 6 !important; }

.y-span-7 { grid-row-end: span 7 !important; }

.y-span-8 { grid-row-end: span 8 !important; }

.y-span-9 { grid-row-end: span 9 !important; }

.y-span-10 { grid-row-end: span 10 !important; }

.y-span-11 { grid-row-end: span 11 !important; }

.y-span-12 { grid-row-end: span 12 !important; }

.y-span--1 { grid-row-end: span -1 !important; }

.y-end { align-self: end !important; }

.y-start { align-self: start !important; }

.y-center { align-self: center !important; }

.y-stretch { align-self: stretch !important; }

.y-baseline { align-self: baseline !important; }

.columns-2 { columns: 2 !important; }

.columns-3 { columns: 3 !important; }

.columns-4 { columns: 4 !important; }

.columns-5 { columns: 5 !important; }

.columns-6 { columns: 6 !important; }

.columns-7 { columns: 7 !important; }

.columns-8 { columns: 8 !important; }

.columns-9 { columns: 9 !important; }

.columns-10 { columns: 10 !important; }

.columns-11 { columns: 11 !important; }

.columns-12 { columns: 12 !important; }

@media screen and (max-width: 49.6865em) { .\@1-shown { display: none !important; } }

@media screen and (min-width: 49.6875em) { .\@1-hidden { display: none !important; }
	.\@1-block { display: block !important; }
	.\@1-grid { display: grid !important; }
	.\@1-grid-2 { grid-template-columns: repeat(2, 1fr); }
	.\@1-grid-3 { grid-template-columns: repeat(3, 1fr); }
	.\@1-grid-4 { grid-template-columns: repeat(4, 1fr); }
	.\@1-grid-5 { grid-template-columns: repeat(5, 1fr); }
	.\@1-grid-6 { grid-template-columns: repeat(6, 1fr); }
	.\@1-grid-7 { grid-template-columns: repeat(7, 1fr); }
	.\@1-grid-8 { grid-template-columns: repeat(8, 1fr); }
	.\@1-grid-9 { grid-template-columns: repeat(9, 1fr); }
	.\@1-grid-10 { grid-template-columns: repeat(10, 1fr); }
	.\@1-grid-11 { grid-template-columns: repeat(11, 1fr); }
	.\@1-grid-12 { grid-template-columns: repeat(12, 1fr); }
	.\@1-inline { display: inline-block !important; }
	.\@1-left { float: left !important; clear: left; }
	.\@1-right { float: right !important; clear: right; }
	.\@1-top-align { vertical-align: top !important; }
	.\@1-bottom-align { vertical-align: bottom !important; }
	.\@1-middle-align { vertical-align: middle !important; }
	.\@1-baseline-align { vertical-align: baseline !important; }
	.\@1-left-align { text-align: left !important; }
	.\@1-right-align { text-align: right !important; }
	.\@1-center-align { text-align: center !important; }
	.\@1-justify-align { text-align: justify !important; }
	.\@1-x-1 { grid-column-start: 1 !important; }
	.\@1-x-2 { grid-column-start: 2 !important; }
	.\@1-x-3 { grid-column-start: 3 !important; }
	.\@1-x-4 { grid-column-start: 4 !important; }
	.\@1-x-5 { grid-column-start: 5 !important; }
	.\@1-x-6 { grid-column-start: 6 !important; }
	.\@1-x-7 { grid-column-start: 7 !important; }
	.\@1-x-8 { grid-column-start: 8 !important; }
	.\@1-x-9 { grid-column-start: 9 !important; }
	.\@1-x-10 { grid-column-start: 10 !important; }
	.\@1-x-11 { grid-column-start: 11 !important; }
	.\@1-x-12 { grid-column-start: 12 !important; }
	.\@1-x-span-1 { grid-column-end: span 1 !important; }
	.\@1-x-span-2 { grid-column-end: span 2 !important; }
	.\@1-x-span-3 { grid-column-end: span 3 !important; }
	.\@1-x-span-4 { grid-column-end: span 4 !important; }
	.\@1-x-span-5 { grid-column-end: span 5 !important; }
	.\@1-x-span-6 { grid-column-end: span 6 !important; }
	.\@1-x-span-7 { grid-column-end: span 7 !important; }
	.\@1-x-span-8 { grid-column-end: span 8 !important; }
	.\@1-x-span-9 { grid-column-end: span 9 !important; }
	.\@1-x-span-10 { grid-column-end: span 10 !important; }
	.\@1-x-span-11 { grid-column-end: span 11 !important; }
	.\@1-x-span-12 { grid-column-end: span 12 !important; }
	.\@1-x-span--1 { grid-column-end: span -1 !important; }
	.\@1-x-end { justify-self: end !important; }
	.\@1-x-start { justify-self: start !important; }
	.\@1-x-center { justify-self: center !important; }
	.\@1-x-stretch { justify-self: stretch !important; }
	.\@1-y-1 { grid-row-start: 1 !important; }
	.\@1-y-2 { grid-row-start: 2 !important; }
	.\@1-y-3 { grid-row-start: 3 !important; }
	.\@1-y-4 { grid-row-start: 4 !important; }
	.\@1-y-5 { grid-row-start: 5 !important; }
	.\@1-y-6 { grid-row-start: 6 !important; }
	.\@1-y-7 { grid-row-start: 7 !important; }
	.\@1-y-8 { grid-row-start: 8 !important; }
	.\@1-y-9 { grid-row-start: 9 !important; }
	.\@1-y-10 { grid-row-start: 10 !important; }
	.\@1-y-11 { grid-row-start: 11 !important; }
	.\@1-y-12 { grid-row-start: 12 !important; }
	.\@1-y-13 { grid-row-start: 13 !important; }
	.\@1-y-14 { grid-row-start: 14 !important; }
	.\@1-y-15 { grid-row-start: 15 !important; }
	.\@1-y-16 { grid-row-start: 16 !important; }
	.\@1-y-17 { grid-row-start: 17 !important; }
	.\@1-y-18 { grid-row-start: 18 !important; }
	.\@1-y-span-1 { grid-row-end: span 1 !important; }
	.\@1-y-span-2 { grid-row-end: span 2 !important; }
	.\@1-y-span-3 { grid-row-end: span 3 !important; }
	.\@1-y-span-4 { grid-row-end: span 4 !important; }
	.\@1-y-span-5 { grid-row-end: span 5 !important; }
	.\@1-y-span-6 { grid-row-end: span 6 !important; }
	.\@1-y-span-7 { grid-row-end: span 7 !important; }
	.\@1-y-span-8 { grid-row-end: span 8 !important; }
	.\@1-y-span-9 { grid-row-end: span 9 !important; }
	.\@1-y-span-10 { grid-row-end: span 10 !important; }
	.\@1-y-span-11 { grid-row-end: span 11 !important; }
	.\@1-y-span-12 { grid-row-end: span 12 !important; }
	.\@1-y-span--1 { grid-row-end: span -1 !important; }
	.\@1-y-end { align-self: end !important; }
	.\@1-y-start { align-self: start !important; }
	.\@1-y-center { align-self: center !important; }
	.\@1-y-stretch { align-self: stretch !important; }
	.\@1-y-baseline { align-self: baseline !important; }
	.\@1-columns-2 { columns: 2 !important; }
	.\@1-columns-3 { columns: 3 !important; }
	.\@1-columns-4 { columns: 4 !important; }
	.\@1-columns-5 { columns: 5 !important; }
	.\@1-columns-6 { columns: 6 !important; }
	.\@1-columns-7 { columns: 7 !important; }
	.\@1-columns-8 { columns: 8 !important; }
	.\@1-columns-9 { columns: 9 !important; }
	.\@1-columns-10 { columns: 10 !important; }
	.\@1-columns-11 { columns: 11 !important; }
	.\@1-columns-12 { columns: 12 !important; } }

@media screen and (max-width: 76.874em) { .\@2-shown { display: none !important; } }

@media screen and (min-width: 76.875em) { .\@2-hidden { display: none !important; }
	.\@2-block { display: block !important; }
	.\@2-grid { display: grid !important; }
	.\@2-grid-2 { grid-template-columns: repeat(2, 1fr); }
	.\@2-grid-3 { grid-template-columns: repeat(3, 1fr); }
	.\@2-grid-4 { grid-template-columns: repeat(4, 1fr); }
	.\@2-grid-5 { grid-template-columns: repeat(5, 1fr); }
	.\@2-grid-6 { grid-template-columns: repeat(6, 1fr); }
	.\@2-grid-7 { grid-template-columns: repeat(7, 1fr); }
	.\@2-grid-8 { grid-template-columns: repeat(8, 1fr); }
	.\@2-grid-9 { grid-template-columns: repeat(9, 1fr); }
	.\@2-grid-10 { grid-template-columns: repeat(10, 1fr); }
	.\@2-grid-11 { grid-template-columns: repeat(11, 1fr); }
	.\@2-grid-12 { grid-template-columns: repeat(12, 1fr); }
	.\@2-inline { display: inline-block !important; }
	.\@2-left { float: left !important; clear: left; }
	.\@2-right { float: right !important; clear: right; }
	.\@2-top-align { vertical-align: top !important; }
	.\@2-bottom-align { vertical-align: bottom !important; }
	.\@2-middle-align { vertical-align: middle !important; }
	.\@2-baseline-align { vertical-align: baseline !important; }
	.\@2-left-align { text-align: left !important; }
	.\@2-right-align { text-align: right !important; }
	.\@2-center-align { text-align: center !important; }
	.\@2-justify-align { text-align: justify !important; }
	.\@2-x-1 { grid-column-start: 1 !important; }
	.\@2-x-2 { grid-column-start: 2 !important; }
	.\@2-x-3 { grid-column-start: 3 !important; }
	.\@2-x-4 { grid-column-start: 4 !important; }
	.\@2-x-5 { grid-column-start: 5 !important; }
	.\@2-x-6 { grid-column-start: 6 !important; }
	.\@2-x-7 { grid-column-start: 7 !important; }
	.\@2-x-8 { grid-column-start: 8 !important; }
	.\@2-x-9 { grid-column-start: 9 !important; }
	.\@2-x-10 { grid-column-start: 10 !important; }
	.\@2-x-11 { grid-column-start: 11 !important; }
	.\@2-x-12 { grid-column-start: 12 !important; }
	.\@2-x-span-1 { grid-column-end: span 1 !important; }
	.\@2-x-span-2 { grid-column-end: span 2 !important; }
	.\@2-x-span-3 { grid-column-end: span 3 !important; }
	.\@2-x-span-4 { grid-column-end: span 4 !important; }
	.\@2-x-span-5 { grid-column-end: span 5 !important; }
	.\@2-x-span-6 { grid-column-end: span 6 !important; }
	.\@2-x-span-7 { grid-column-end: span 7 !important; }
	.\@2-x-span-8 { grid-column-end: span 8 !important; }
	.\@2-x-span-9 { grid-column-end: span 9 !important; }
	.\@2-x-span-10 { grid-column-end: span 10 !important; }
	.\@2-x-span-11 { grid-column-end: span 11 !important; }
	.\@2-x-span-12 { grid-column-end: span 12 !important; }
	.\@2-x-span--1 { grid-column-end: span -1 !important; }
	.\@2-x-end { justify-self: end !important; }
	.\@2-x-start { justify-self: start !important; }
	.\@2-x-center { justify-self: center !important; }
	.\@2-x-stretch { justify-self: stretch !important; }
	.\@2-y-1 { grid-row-start: 1 !important; }
	.\@2-y-2 { grid-row-start: 2 !important; }
	.\@2-y-3 { grid-row-start: 3 !important; }
	.\@2-y-4 { grid-row-start: 4 !important; }
	.\@2-y-5 { grid-row-start: 5 !important; }
	.\@2-y-6 { grid-row-start: 6 !important; }
	.\@2-y-7 { grid-row-start: 7 !important; }
	.\@2-y-8 { grid-row-start: 8 !important; }
	.\@2-y-9 { grid-row-start: 9 !important; }
	.\@2-y-10 { grid-row-start: 10 !important; }
	.\@2-y-11 { grid-row-start: 11 !important; }
	.\@2-y-12 { grid-row-start: 12 !important; }
	.\@2-y-13 { grid-row-start: 13 !important; }
	.\@2-y-14 { grid-row-start: 14 !important; }
	.\@2-y-15 { grid-row-start: 15 !important; }
	.\@2-y-16 { grid-row-start: 16 !important; }
	.\@2-y-17 { grid-row-start: 17 !important; }
	.\@2-y-18 { grid-row-start: 18 !important; }
	.\@2-y-span-1 { grid-row-end: span 1 !important; }
	.\@2-y-span-2 { grid-row-end: span 2 !important; }
	.\@2-y-span-3 { grid-row-end: span 3 !important; }
	.\@2-y-span-4 { grid-row-end: span 4 !important; }
	.\@2-y-span-5 { grid-row-end: span 5 !important; }
	.\@2-y-span-6 { grid-row-end: span 6 !important; }
	.\@2-y-span-7 { grid-row-end: span 7 !important; }
	.\@2-y-span-8 { grid-row-end: span 8 !important; }
	.\@2-y-span-9 { grid-row-end: span 9 !important; }
	.\@2-y-span-10 { grid-row-end: span 10 !important; }
	.\@2-y-span-11 { grid-row-end: span 11 !important; }
	.\@2-y-span-12 { grid-row-end: span 12 !important; }
	.\@2-y-span--1 { grid-row-end: span -1 !important; }
	.\@2-y-end { align-self: end !important; }
	.\@2-y-start { align-self: start !important; }
	.\@2-y-center { align-self: center !important; }
	.\@2-y-stretch { align-self: stretch !important; }
	.\@2-y-baseline { align-self: baseline !important; }
	.\@2-columns-2 { columns: 2 !important; }
	.\@2-columns-3 { columns: 3 !important; }
	.\@2-columns-4 { columns: 4 !important; }
	.\@2-columns-5 { columns: 5 !important; }
	.\@2-columns-6 { columns: 6 !important; }
	.\@2-columns-7 { columns: 7 !important; }
	.\@2-columns-8 { columns: 8 !important; }
	.\@2-columns-9 { columns: 9 !important; }
	.\@2-columns-10 { columns: 10 !important; }
	.\@2-columns-11 { columns: 11 !important; }
	.\@2-columns-12 { columns: 12 !important; } }

@media screen and (max-width: 101.249em) { .\@3-shown { display: none !important; } }

@media screen and (min-width: 101.25em) { .\@3-hidden { display: none !important; }
	.\@3-block { display: block !important; }
	.\@3-grid { display: grid !important; }
	.\@3-grid-2 { grid-template-columns: repeat(2, 1fr); }
	.\@3-grid-3 { grid-template-columns: repeat(3, 1fr); }
	.\@3-grid-4 { grid-template-columns: repeat(4, 1fr); }
	.\@3-grid-5 { grid-template-columns: repeat(5, 1fr); }
	.\@3-grid-6 { grid-template-columns: repeat(6, 1fr); }
	.\@3-grid-7 { grid-template-columns: repeat(7, 1fr); }
	.\@3-grid-8 { grid-template-columns: repeat(8, 1fr); }
	.\@3-grid-9 { grid-template-columns: repeat(9, 1fr); }
	.\@3-grid-10 { grid-template-columns: repeat(10, 1fr); }
	.\@3-grid-11 { grid-template-columns: repeat(11, 1fr); }
	.\@3-grid-12 { grid-template-columns: repeat(12, 1fr); }
	.\@3-inline { display: inline-block !important; }
	.\@3-left { float: left !important; clear: left; }
	.\@3-right { float: right !important; clear: right; }
	.\@3-top-align { vertical-align: top !important; }
	.\@3-bottom-align { vertical-align: bottom !important; }
	.\@3-middle-align { vertical-align: middle !important; }
	.\@3-baseline-align { vertical-align: baseline !important; }
	.\@3-left-align { text-align: left !important; }
	.\@3-right-align { text-align: right !important; }
	.\@3-center-align { text-align: center !important; }
	.\@3-justify-align { text-align: justify !important; }
	.\@3-x-1 { grid-column-start: 1 !important; }
	.\@3-x-2 { grid-column-start: 2 !important; }
	.\@3-x-3 { grid-column-start: 3 !important; }
	.\@3-x-4 { grid-column-start: 4 !important; }
	.\@3-x-5 { grid-column-start: 5 !important; }
	.\@3-x-6 { grid-column-start: 6 !important; }
	.\@3-x-7 { grid-column-start: 7 !important; }
	.\@3-x-8 { grid-column-start: 8 !important; }
	.\@3-x-9 { grid-column-start: 9 !important; }
	.\@3-x-10 { grid-column-start: 10 !important; }
	.\@3-x-11 { grid-column-start: 11 !important; }
	.\@3-x-12 { grid-column-start: 12 !important; }
	.\@3-x-span-1 { grid-column-end: span 1 !important; }
	.\@3-x-span-2 { grid-column-end: span 2 !important; }
	.\@3-x-span-3 { grid-column-end: span 3 !important; }
	.\@3-x-span-4 { grid-column-end: span 4 !important; }
	.\@3-x-span-5 { grid-column-end: span 5 !important; }
	.\@3-x-span-6 { grid-column-end: span 6 !important; }
	.\@3-x-span-7 { grid-column-end: span 7 !important; }
	.\@3-x-span-8 { grid-column-end: span 8 !important; }
	.\@3-x-span-9 { grid-column-end: span 9 !important; }
	.\@3-x-span-10 { grid-column-end: span 10 !important; }
	.\@3-x-span-11 { grid-column-end: span 11 !important; }
	.\@3-x-span-12 { grid-column-end: span 12 !important; }
	.\@3-x-span--1 { grid-column-end: span -1 !important; }
	.\@3-x-end { justify-self: end !important; }
	.\@3-x-start { justify-self: start !important; }
	.\@3-x-center { justify-self: center !important; }
	.\@3-x-stretch { justify-self: stretch !important; }
	.\@3-y-1 { grid-row-start: 1 !important; }
	.\@3-y-2 { grid-row-start: 2 !important; }
	.\@3-y-3 { grid-row-start: 3 !important; }
	.\@3-y-4 { grid-row-start: 4 !important; }
	.\@3-y-5 { grid-row-start: 5 !important; }
	.\@3-y-6 { grid-row-start: 6 !important; }
	.\@3-y-7 { grid-row-start: 7 !important; }
	.\@3-y-8 { grid-row-start: 8 !important; }
	.\@3-y-9 { grid-row-start: 9 !important; }
	.\@3-y-10 { grid-row-start: 10 !important; }
	.\@3-y-11 { grid-row-start: 11 !important; }
	.\@3-y-12 { grid-row-start: 12 !important; }
	.\@3-y-13 { grid-row-start: 13 !important; }
	.\@3-y-14 { grid-row-start: 14 !important; }
	.\@3-y-15 { grid-row-start: 15 !important; }
	.\@3-y-16 { grid-row-start: 16 !important; }
	.\@3-y-17 { grid-row-start: 17 !important; }
	.\@3-y-18 { grid-row-start: 18 !important; }
	.\@3-y-span-1 { grid-row-end: span 1 !important; }
	.\@3-y-span-2 { grid-row-end: span 2 !important; }
	.\@3-y-span-3 { grid-row-end: span 3 !important; }
	.\@3-y-span-4 { grid-row-end: span 4 !important; }
	.\@3-y-span-5 { grid-row-end: span 5 !important; }
	.\@3-y-span-6 { grid-row-end: span 6 !important; }
	.\@3-y-span-7 { grid-row-end: span 7 !important; }
	.\@3-y-span-8 { grid-row-end: span 8 !important; }
	.\@3-y-span-9 { grid-row-end: span 9 !important; }
	.\@3-y-span-10 { grid-row-end: span 10 !important; }
	.\@3-y-span-11 { grid-row-end: span 11 !important; }
	.\@3-y-span-12 { grid-row-end: span 12 !important; }
	.\@3-y-span--1 { grid-row-end: span -1 !important; }
	.\@3-y-end { align-self: end !important; }
	.\@3-y-start { align-self: start !important; }
	.\@3-y-center { align-self: center !important; }
	.\@3-y-stretch { align-self: stretch !important; }
	.\@3-y-baseline { align-self: baseline !important; }
	.\@3-columns-2 { columns: 2 !important; }
	.\@3-columns-3 { columns: 3 !important; }
	.\@3-columns-4 { columns: 4 !important; }
	.\@3-columns-5 { columns: 5 !important; }
	.\@3-columns-6 { columns: 6 !important; }
	.\@3-columns-7 { columns: 7 !important; }
	.\@3-columns-8 { columns: 8 !important; }
	.\@3-columns-9 { columns: 9 !important; }
	.\@3-columns-10 { columns: 10 !important; }
	.\@3-columns-11 { columns: 11 !important; }
	.\@3-columns-12 { columns: 12 !important; } }
