
.test-section {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 1.40625rem);
	margin-left: 0.9375rem;
	margin-top: 1.5625rem;
	border-top: 3px solid #aaaaaa;
}

.test-section.test-passed {
	border-color: #a0ce0b;
}

.test-section.test-passed > .test-title {
	color: #a0ce0b;
}

.test-section.test-failed {
	border-color: red;
}

@media (min-width: 42em) {
	.test-section {
		width: calc(33.3333% - 1.25rem);
		margin-top: 0.9375rem;
	}
}

@media (min-width: 64em) {
	.test-section {
		width: calc(20% - 1.125rem);
	}
}


.test-title {
	font-size: 0.9375rem;
	line-height: 1.125rem;
	font-weight: 300;
	min-height: 2.5rem;
}

.test-title + .test-fixture {
	margin-top: 1.25rem;
}

@media (min-width: 42em) {
	.test-title {
		font-size: 1.125rem;
		line-height: 1.25rem;
	}
}
