
.test-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 3.75rem;
	padding-left: 1.875rem;
	padding-right: 1.875rem;
}

.test-article {
	position: relative;
	display: block;
	margin-left: 0;
	margin-right: 0;
	border-top: 3px solid black;
	border-color: inherit;
}

.test-article.test-failed {
	border-color: red;
}

.test-article.test-passed {
	border-color: #a0ce0b;
}

.test-article.test-passed > .test-title {
	color: #a0ce0b;
}

.span-1-test-article { grid-column-end: span 1; }
.span-2-test-article { grid-column-end: span 2; }
.span-3-test-article { grid-column-end: span 3; }
.span-4-test-article { grid-column-end: span 4; }
.span-5-test-article { grid-column-end: span 5; }
.span-6-test-article { grid-column-end: span 6; }

.test-title {
	font-size: 0.9375rem;
	line-height: 1.125rem;
	font-weight: 300;
	min-height: 2.5rem;
}

.test-title + .test-fixture {
	margin-top: 1.25rem;
}

@media (min-width: 42em) {
	.test-title {
		font-size: 1.125rem;
		line-height: 1.25rem;
	}
}

.test-fixture > canvas {
	width: 100%;
}
