.line { white-space: pre; }

.syntax--js                              { color: #8BB5CC; }
.syntax--css                             { color: #8BB5CC; }

.syntax--comment,
.syntax--comment .syntax--punctuation    { color: #405660 !important; }

.syntax--tag                             { color: #f5a623; }
.syntax--name                            { color: #fc6827; }
.syntax--attribute                       { color: #fc6827; }
.syntax--definition                      { color: #fc6827; }
.syntax--attribute-name                  { color: #f5a623; }
.syntax--attribute-name.syntax--id,
.syntax--id > .syntax--punctuation       { color: #f5a623; }
.syntax--punctuation                     { color: #C86201; }
.syntax--character,
.syntax--character *                     { color: #63ACDD; }
.syntax--brace                           { color: #C86201; }
.syntax--operator                        { color: #63ACDD; }
.syntax--logical                         { color: #C86201; }
.syntax--separator                       { color: #8B572A; }
.syntax--terminator                      { color: #5E7F8F; }
.syntax--important                       { color: #EA0034; }

.syntax--var,
.syntax--function                        { color: #63ACDD; }
.syntax--function.syntax--name           { color: #5FAB9A; }
.syntax--method > .syntax--function,
.syntax--method-call > .syntax--function { color: #B7C9D2; }

.syntax--class                           { color: #5FAB9A; }
.syntax--constant,
.syntax--constant > *                    { color: #B7C9D2; }
.syntax--variable                        { color: #9AB7C7; }
.syntax--object                          { color: #9AB7C7; }
.syntax--property                        { color: #B7C9D2; }
.syntax--control                         { color: #f5a623; }
.syntax--string,
.syntax--string *                        { color: #B2CB3A !important; }
.syntax--string .syntax--link            { color: #5E7F8F !important; }
.syntax--numeric                         { color: #FE267E; } // #CE40CF
.syntax--keyword.syntax--assignment      { color: #5E7F8F; }
.syntax--at-rule.syntax--header,
.syntax--at-rule.syntax--header > *,
.syntax--at-rule.syntax--body            { color: #5FAB9A !important; }

/* Script tags dont seem to get attribute classes... use source */
.syntax--html.syntax--source             { color: #f5a623; }

.syntax--template                        { color: #9AB7C7; }
.syntax--tagbraces                       { color: #63ACDD; }
.syntax--template.syntax--control        { color: #9AB7C7; }
.syntax--template.syntax--string         { color: #b7d6e7 !important; }
.syntax--template.syntax--unquoted       { color: #b7d6e7 !important; }

.syntax--css.syntax--attribute-name      { color: #fc6827; }
.syntax--css.syntax--class               { color: #f5a623; }
.syntax--css.syntax--pseudo-class,
.syntax--css.syntax--pseudo-element      { color: #C86201; }
.syntax--css.syntax--constant            { color: #B7C9D2; }
.syntax--css.syntax--constant > .syntax--punctuation { color: #B7C9D2; }
.syntax--css.syntax--function            { color: #5FAB9A; }
.syntax--css.syntax--punctuation         { color: #8B572A; }
.syntax--css.syntax--curly               { color: #5FAB9A; }
.syntax--css.syntax--property-list       { color: #9AB7C7; }
.syntax--css.syntax--property-name       { color: #63ACDD; }
.syntax--css.syntax--property-name + .syntax--separator { color: #5E7F8F; }
.syntax--css.syntax--terminator          { color: #5E7F8F; }
.syntax--css.syntax--unit                { color: inherit; }
.syntax--css.syntax--class .syntax--punctuation { color: inherit; }
.syntax--css .syntax--operator           { color: #C86201; }
.syntax--css.syntax--square              { color: #fc6827; }
.syntax--css.syntax--attribute-selector  { color: #fc6827; }
.syntax--css.syntax--at-rule.syntax--header,
.syntax--css.syntax--at-rule.syntax--header .syntax--punctuation { color: #5FAB9A !important; }

/*.syntax--js.syntax--punctuation     { color: #B7C9D2; }*/
.syntax--js.syntax--brace                { color: #fc6827; }
.syntax--js.syntax--square               { color: #5E7F8F; }
.syntax--js.syntax--operator             { color: #63ACDD; }
/*  .syntax--js.syntax--logical         { color: #fc6827; }*/
.syntax--js.syntax--separator            { color: #8B572A; }
.syntax--js.syntax--terminator           { color: #5E7F8F; }
/*.syntax--js.syntax--operator        { color: #FA406B; }*/
.syntax--js.syntax--operator.syntax--new { color: #f5a623; }
.syntax--js.syntax--meta                 { color: #8BB5CC; }
.syntax--function .syntax--brace         { color: inherit; }
.syntax--function .syntax--punctuation   { color: inherit; }
.syntax--function.syntax--body           { color: #63ACDD; }
.syntax--arguments.syntax--punctuation   { color: #5FAB9A; }
.syntax--parameters.syntax--punctuation  { color: #5FAB9A; }
